body{
font-family:Poppins;
background:#f2f2f2;
margin:0;
padding:15px;
}

.card{
background:white;
padding:15px;
border-radius:15px;
margin-bottom:15px;
}

.title{
text-align:center;
color:#2f7d6d;
}

.icon-btn{
position:absolute;
top:15px;
right:15px;
background:#2f7d6d;
color:white;
border:none;
padding:10px;
border-radius:10px;
}

.admin-badge{
position:absolute;
top:-5px;
right:-5px;
background:red;
color:white;
font-size:12px;
padding:3px 6px;
border-radius:50%;
}

.clock{
text-align:center;
font-size:24px;
font-weight:bold;
margin-top:10px;
}

.progress-bar{
height:10px;
background:#ddd;
border-radius:20px;
margin:10px 0;
}

.progress-bar span{
display:block;
height:100%;
background:#2f7d6d;
width:0%;
border-radius:20px;
}

.btn{
width:100%;
padding:10px;
margin-top:8px;
border:none;
border-radius:10px;
background:#2f7d6d;
color:white;
font-weight:bold;
}

.btn-ghost{
background:white;
color:#2f7d6d;
border:1px solid #2f7d6d;
}

table{
width:100%;
border-collapse:collapse;
font-size:12px;
}

th,td{
border-bottom:1px solid #ddd;
padding:5px;
text-align:center;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.modal-box{
background:white;
padding:20px;
border-radius:15px;
width:90%;
max-width:400px;
margin:100px auto;
}

.popup{
position:fixed;
bottom:30px;
left:50%;
transform:translateX(-50%);
background:#2f7d6d;
color:white;
padding:12px 20px;
border-radius:12px;
display:none;
}
